<!-- @@label REPEATABLE-->
					<tr color="@@color" mc:repeatable="siwc_600" mc:variant="@@label">
						<td style="padding:0px 0 15px 0;">
							<table cellpadding="0" cellspacing="0" style="width:100%;">
								<tr>
									<td style="padding: 10px 0 10px 0px; color: @@color;">
										<img src="http://www.ampersandcatering.co.uk/emailers/feature-1.png" mc:edit="featured_image" alt="" />
										<Br /><Br />
										<table cellpadding="0" cellspacing="0" style="width:100%;">
											<tr>
												<td width="33%" align="center" valign="center"><img src="http://www.ampersandcatering.co.uk/emailers/feature-left-glyph.png" width="83" height="38"></td>

												<td width="33%" align="center" valign="center">
													<h2 class='cta' style="color:#936aaa" mc:edit="@@{label}_Heading">Enter your Heading Here</h2>
												</td>


												<td width="33%" align="center" valign="center"><img src="http://www.ampersandcatering.co.uk/emailers/feature-right-glyph.png" width="83" height="38"></td>



											</tr>
										</table>

										

										<div mc:edit="@@{label}_Content">
										Content Goes Here

										</div>

										<p align="right">
											<a href='http://www.ampersandcatering.co.uk/Events/' mc:edit="cta" class='cta' style=''>read more</a>
										</p>

										


										




									</td>
								</tr>
							</table>
						</td>
					</tr><!--END @@background REPEATABLE-->