<!-- @@label REPEATABLE-->
					<tr color="@@color" mc:repeatable="siwc_600" mc:variant="@@label_story">
						<td style="padding:15px 0 15px 0;">
							<table cellpadding="0" cellspacing="0" style="width:100%;">
								<tr>
									<td width="268" style="padding: 0px 20px 0 0px; color: @@color;" valign="top">
										<img src="http://www.ampersandcatering.co.uk/emailers/story-1.png" mc:edit="featured_image" alt="" width="268" />
									</td>

									<td style="padding: 0px 0px 0 0px; color: #999999;" valign="top">
										<table cellpadding="0" cellspacing="0" style="width:100%;" align="right">
											<tr>
												
												<td align="right" valign="center">
													<h2 class='cta' align="right" style="color:@@color; font-size:16px" mc:edit="@@label__story_Heading">Enter your Heading Here</h2>
												</td>


												<td width="60" align="right" valign="center"><img src="http://www.ampersandcatering.co.uk/emailers/@@label-glyph.png"></td>



											</tr>
										</table>

										
										<div style="clear:both;">&nbsp;</div>

										<span mc:edit="@@label__story_Content">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

										</span>

										<p align="right" mc:edit="@@label__story_cta">
											<a href='http://www.ampersandcatering.co.uk/Events/' class='cta' style='color:@@color; font-size:16px'>read more</a>
										</p>

										


										




									</td>
								</tr>
							</table>
						</td>
					</tr><!--END @@background REPEATABLE-->